.container {
    width: 100%;
    margin: 0 auto;
}

//字體顏色
.text-secondary {
    color: $text-secondary;
}

.text-gray-600 {
    color: $gray-600;
}

//字體大小
.font-l {
    font-size: $font-l;
}

.font-m {
    font-size: $font-m;
}

.font-s {
    font-size: $font-s;
}

//字重
.fw-bold {
    font-weight: $font-b;
}

.bg-gray-100 {
    background-color: $gray-100;
}

//間距
.mr-1 {
    margin-right: $spacer;
}

.mr-2 {
    margin-right: $spacer*2;
}

.mr-3 {
    margin-right: $spacer*3;
}

.ml-1 {
    margin-left: $spacer;
}

.ml-4 {
    margin-left: $spacer*4;
}

.mb-0 {
    margin-bottom: $spacer*0.5;
}

.mb-1 {
    margin-bottom: $spacer;
}

.mb-2 {
    margin-bottom: $spacer*2;
}

.mb-3 {
    margin-bottom: $spacer*3;
}

.mb-4 {
    margin-bottom: $spacer*4;
}

.p-1 {
    padding: $spacer*1.5;
}

.p-2 {
    padding: $spacer*2;
}

.p-4 {
    padding: $spacer*4;
}

//border
.border {
    border: 1px solid $gray-400;
}

.text-right {
    text-align: right;
}

//flex
.d-flex {
    display: flex;
}

.fxdc {
    flex-direction: column;
}

.jcsb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

//按鈕
.btn-primary {
    font-weight: $font-b;
    color: #fff;
    background-color: $text-secondary;
    padding: 8px 32px;
    border-radius: 2px;

    &:hover {
        background-color: #086037;
    }
}

.btn-outline-primary {
    font-weight: $font-b;
    color: $text-secondary;
    border: 1px solid $text-secondary;
    padding: 8px 32px;
    border-radius: 2px;

    &:hover {
        background-color: $text-secondary;
        color: #fff;
    }
}

.code {
    font-family: $font-roboto;
    color: $text-secondary;
    background-color: $gray-100;
    font-size: $font-m;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
}