$font-roboto: 'Roboto Mono', monospace;

$text-primary: #212529;
$text-secondary: #198754;
$gray-600: #6C757D;
$gray-400: #CED4DA;
$gray-100: #F8F9FA;

$font-b: bold;

$font-l: 24px;
$font-m: 14px;
$font-s: 12px;

$spacer: 8px;